.green{
	background-color: #00FF00;
}
table{	
	border-collapse: collapse;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}
.orange{
	background-color: #FFFF66;
}
td{
	border-left: 2px solid black;
	border-right: 2px solid black;
}
}
span{
	vertical-align: top;
}